<!-- Footer Partial -->

<footer>

  <div class="row justify-content-center">
    <div class="col-4 text-center">
      <ul>
        <li class="column"><a href="#">Home</a></li>
        <li class="column"><a href="#">Discover</a></li>
        <li class="copywrite">© 2017 BAB Inc., All Rights Reserved.</li>
      </ul>
    </div>
  </div>

</footer>
