<!-- Header and Nav Elements -->
<nav class="container-fluid fixed-top" id="nav-bar">
  <div class="row align-items-center justify-content-between background-header">
    <div class="column">
      <form method="GET" action="/">
        <button id="home-logo"><img id="logo" src="../../images/logo.png" alt="Logo"></button>
      </form>
    </div>
    <div class="col">
      <form>
        <input class="col-lg" type="text" id="search-bar" name="search-bar" placeholder="Search">
      </form>
    </div>
    <div class="column">
      <ul id="nav-list" class="row">
        <li><button class="loginbut">Log In</button></li>
        <li><button class="registerbut">Register</button></li>
      </ul>
    </div>
    <div class="row">
      <form method="GET" action="/topic">
        <button class="btn btn-outline-primary">Discover</button>
      </form>
    </div>
  </div>

<!-- Login Form that will drop down with jquery -->
  <div id="login" class="container-fluid">
    <div class="row justify-content-end">
    <!--if(login){
      <p>username</p>
      <button><i class="fa fa-wrench" aria-hidden="true"></i></button>
    } else {-->
      <form id="login-form" method="POST" action="/login">
        <h1>Log In</h1>
        <hr>
        <p>Please enter your username and password below.</p>
        <div class="row">
          <input class="col-lg" type="text" id="username" name="username" placeholder="username">
        </div>
        <div class="row">
          <input class="col-lg" type="password" id="login-password" name="login-password" placeholder="password">
        </div>
        <div class="row">
          <input class="col-lg" type="submit" id="login-submit">
        </div>
      </form>
      <form method="GET" action="/users/:userid/settings">
      </form>
      <!--}-->
    </div>
  </div>

  <!-- Register Form that will drop down with jquery -->

  <div id="register" class="container-fluid">
    <div class="row justify-content-end">
      <form id="register-form" method="POST" action="/register">
        <h1>Register</h1>
        <hr>
        <p>Welcome! Please fill in your info<br> below to register for an account.</p>
        <div class="row">
          <input class="col-lg" type="text" id="first-name" name="first-name" placeholder="first name">
        </div>
        <div class="row">
          <input class="col-lg" type="text" id="surname" name="surname" placeholder="last name">
        </div>
        <div class="row">
          <input class="col-lg" type="email" id="email" name="email" placeholder="email">
        </div>
        <div class="row">
          <input class="col-lg" type="text" id="username" name="username" placeholder="username">
        </div>
        <div class="row">
          <input class="col-lg" type="password" id="register-password" name="register-password" placeholder="password">
        </div>
        <div class="row">
          <input class="col-lg" type="submit" id="register-submit">
        </div>
      </form>
    </div>
  </div>

</nav>
