<!-- Header and Nav Elements -->
<nav class="container-fluid fixed-top" id="nav-bar">
  <div class="row align-items-center justify-content-between background-header">
    <div class="column">
      <form method="GET" action="/">
        <button id="home-logo"><img id="logo" src="../../images/logo.png" alt="Logo"></button>
      </form>
    </div>
    <div class="col">
      <form>
        <input class="col-lg" type="text" id="search-bar" name="search-bar" placeholder="Search">
      </form>
    </div>

    <div class="column" id="login-register">

       <% if(!username){ %>
        <ul id="nav-list" class="row">
          <li><button class="btn loginbut">Log In</button></li>
          <li><button class="btn registerbut">Register</button></li>
        </ul>
      <% } else { %>
          <div id="add-resource-button">
            <a id="add-resource" title="Add a Resource" href="/new">+</a>
          </div>
          <button id="navigation-list" class="user-dropdown"><%=username%></button>
      <% } %>

    </div>
    <div class="row" id="discover-container">
      <form method="GET" action="/topic">
        <button class="btn btn-primary discover-button">Discover</button>
      </form>
      <button class="btn btn-primary discover-button mobile-button"><i class="fa fa-bars" aria-hidden="true"></i></button>
    </div>
  </div>

  <div class="row justify-content-end mobile-menu-row">
    <div class="mobile-menu text-center">
    </div>
  </div>

  <div id="login" class="container-fluid">
    <div class="row justify-content-end">

      <form id="login-form" method="POST" action="/login">
        <h1>Log In</h1>
        <p>Please enter your username and password below.</p>
        <div class="row">
          <input class="col-lg" type="text" id="username" name="username" placeholder="username">
        </div>
        <div class="row">
          <input class="col-lg" type="password" id="login-password" name="login-password" placeholder="password">
        </div>
        <div class="row">
          <input class="col-lg" type="submit" id="login-submit">
        </div>
      </form>

    </div>
  </div>

  <div id="register" class="container-fluid">
    <div class="row justify-content-end">
      <form id="register-form" method="POST" action="/register">
        <h1>Register</h1>
        <hr>
        <p>Welcome! Please fill in your info<br> below to register for an account.</p>
        <div class="row">
          <input class="col-lg" type="text" id="firstName" name="first_name" placeholder="first name">
        </div>
        <div class="row">
          <input class="col-lg" type="text" id="surname" name="surname" placeholder="last name">
        </div>
        <div class="row">
          <input class="col-lg" type="email" id="email" name="email" placeholder="email">
        </div>
        <div class="row">
          <input class="col-lg" type="text" id="username" name="username" placeholder="username">
        </div>
        <div class="row">
          <input class="col-lg" type="password" id="registerPassword" name="register_password" placeholder="password">
        </div>
        <div class="row">
          <input class="col-lg" type="submit" class="register-submit">
        </div>
      </form>
    </div>
  </div>

  <div id="user-dropdown-list" class="container-fluid justify-content-end">
    <div class="row justify-content-end">
      <div class="user-account-logout">
        <ul class="text-center">
          <li>
            <a href="/users/<%=username%>">User Account</a>
          </li>
          <li>
            <form method="POST" action="/logout">
              <button>Logout</button>
            </form>
          </li>
        </ul>
      </div>
    </div>
  </div>

</nav>
