<!-- Header and Nav Elements -->

<nav class="container-fluid fixed-top" id="nav-bar">
  <div class="row align-items-center justify-content-between background-header">
    <div class="column">
      <form method="GET" action="/">
        <button><img id="logo" src="../../images/bab-logo.png" alt="Logo"></button>
      </form>
    </div>
    <div class="col">
      <form>
        <input class="col-lg" type="text" id="search-bar" name="search-bar" placeholder="Search">
      </form>
    </div>
    <div class="column">
      <ul id="nav-list" class="row">
        <li><a href="#">Log In</a></li>
        <li><a href="#">Register</a></li>
      </ul>
    </div>
    <div class="row">
      <form method="GET" action="/topic">
        <button class="btn btn-outline-primary">Discover</button>
      </form>
    </div>
  </div>


<!-- Login Form that will drop down with jquery -->

  <div id="login" class="container-fluid">
    <div class="row justify-content-end">
      <form id="login-form">
        <h1>Log In</h1>
        <hr>
        <p>Please enter your username and password below.</p>
        <div class="row">
          <input class="col-lg" type="text" id="username" name="username" placeholder="username">
        </div>
        <div class="row">
          <input class="col-lg" type="password" id="login-password" name="login-password" placeholder="password">
        </div>
        <div class="row">
          <input class="col-lg" type="submit" id="login-submit">
        </div>
      </form>
    </div>
  </div>



  <!-- Register Form that will drop down with jquery -->

  <div id="register" class="container-fluid">
    <div class="row justify-content-end">
      <form id="register-form">
        <h1>Register</h1>
        <hr>
        <p>Welcome! Please fill in your info<br> below to register for an account.</p>
        <div class="row">
          <input class="col-lg" type="text" id="first-name" name="first-name" placeholder="First Name">
        </div>
        <div class="row">
          <input class="col-lg" type="text" id="surname" name="surname" placeholder="Surname">
        </div>
        <div class="row">
          <input class="col-lg" type="email" id="email" name="email" placeholder="Email">
        </div>
        <div class="row">
          <input class="col-lg" type="text" id="username" name="username" placeholder="Username">
        </div>
        <div class="row">
          <input class="col-lg" type="password" id="register-password" name="register-password" placeholder="Password">
        </div>
        <div class="row">
          <input class="col-lg" type="submit" id="register-submit">
        </div>
      </form>
    </div>
  </div>

</nav>
