<!-- Header and Nav Elements -->

  <nav>
    <img src="./images/bab-logo.png" alt="Logo"> <!-- Placeholder Logo -->
    <form>
      <input type="text" id="search-bar" name="search-bar" placeholder="Search">
      <input type="submit" id="search-bar-submit">
    </form>
    <ul>
      <li><a href="#">Log In</a></li>
      <li><a href="#">Register</a></li>
    </ul>
  </nav>
