<!-- The page with form for user to add new resource -->
<!DOCTYPE html>
<html lang="en">
  <head>
    <title>SRC- Add a Resource</title>

    <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
    <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
    <link rel="stylesheet" href="/styles/layout.css" type="text/css" />
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <link rel="icon"
      type="image/png"
      href="../../images/favicon.png" />

    <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
    <script type="text/javascript" src="/scripts/app.js"></script>
  </head>

  <body>
    <% include partials/_header.ejs %>
    <main class="resource-main-container">
      <div class="container resource-content">
        <div class="row resource-header add-resource-header">
          <h1>Add a resource</h1>
          <div class="container">
            <hr>
          </div>
          <hr>
          <form id="add-resource-form" method="POST" action="/addnewresource">
            <div class="form-group row">
              <label class="col-2 col-form-label" for="resource-url">URL:</label>
              <div class="col-12">
                <input class="form-control" type="text" name="resource-url" id="resource-url" placeholder="www.">
              </div>
            </div>
            <div class="form-group row">
              <label class="col-6 col-form-label" for="img-url">Image URL:</label>
              <div class="col-12">
                <input class="form-control" type="text" name="img-url" id="img-url" placeholder="www.">
              </div>
            </div>
            <div class="form-group row">
              <label class="col-4 col-form-label" for="resource-title">Resource Name:</label>
              <div class="col-12">
                <input class="form-control" type="text" name="resource-name" id="resource-name" placeholder="A Descriptive Title">
              </div>
            </div>

            <div class="form-group row">
              <label class="col-4" for="resource-topic">Resource Topic:</label>
              <div class="col-12">
                <select class="form-control" id="resource-topic" name="resource-topic">
                  <option data-id='1'>1 - Art</option>
                  <option data-id='2'>2 - Geography</option>
                  <option data-id='3'>3 - Health</option>
                  <option data-id='4'>4 - Literature</option>
                  <option data-id='5'>5 - Politics</option>
                  <option data-id='6'>6 - Music</option>
                  <option data-id='7'>7 - History</option>
                  <option data-id='8'>8 - Math</option>
                  <option data-id='9'>9 - Science</option>
                </select>
              </div>
            </div>
            <div class="row">
              <label class="col-6" for="resource-description">Resource Rating:</label>
              <div class="col-sm-6">
                <div id="rating">
                  <span data-rating='1'>☆</span>
                  <span data-rating='1'>☆</span>
                  <span data-rating='1'>☆</span>
                  <span data-rating='1'>☆</span>
                  <span data-rating='1'>☆</span>
                </div>
              </div>
            </div>
            <div class="form-group row">
              <label class="col-6" for="resource-description">Resource Description:</label>
              <div class="col-12">
                <textarea class="col-12" name="resource-description" id="resource-description" rows="6"placeholder="Why is this resource useful?"></textarea>
              </div>
            </div>

            <input type="submit" value="submit">
          </form>
      </div>
    </main>
    <% include partials/_footer.ejs %>
  <body>
</html>
