<!-- The individual resource with information and comments -->
<!DOCTYPE html>
<html lang="en">
  <head>
    <title>SRC- Resource</title>

    <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
    <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
    <link rel="stylesheet" href="/styles/layout.css" type="text/css" />
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <link rel="icon"
      type="image/png"
      href="../../images/favicon.png" />

    <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
    <script>
      var resourceId = <%=resourceid%>
      var userId = <%=userId%>
    </script>
    <script type="text/javascript" src="/scripts/app.js"></script>
  </head>

  <body>
    <% include partials/_header.ejs %>
    <main class="resource-main-container">
      <div class="container resource-content">
        <div class="row resource-header">
          <h1><%= results.title%></h1>
        </div>
        <hr>
        <div class="column text-center">
          <img src="../../images/banana.jpg">
          <div class="container">
            <div class="row">
              <div class="col-sm-6">

                  <div id="rating">
                    <span data-rating='1' class="starRate starBlue">☆</span>
                    <span data-rating='1'class="starRate starBlue">☆</span>
                    <span data-rating='1'class="starRate starBlue">☆</span>
                    <span data-rating='1'class="starRate starBlue">☆</span>
                    <span data-rating='1'class="starRate starBlue">☆</span>
                  </div>

              </div>
              <div class="col-sm-6 text-right">
                <a href="#>"><i class="fa fa-heart fa-heart-hover " aria-hidden="true">&nbsp Like</i></a>
              </div>
            </div>
          </div>
          <hr>
          <div class="pin-description">
            <p>Mattis integer nec. Quis vitae ac. Mi quam posuere odio turpis tincidunt. Non nam eget. Laoreet tempus ac purus imperdiet bibendum leo laoreet quis mi amet eu quisque risus eget.</p>
            <p>Risus elementum sit. Amet in posuere. Lobortis per donec malesuada pede porttitor. Sapien nonummy sapien. Semper wisi orci nunc felis faucibus orci eget parturient pretium eros suspendisse ipsum natoque non et tortor vivamus pellentesque at suspendisse. Adipiscing consequat metus. Metus nec penatibus. Turpis consectetuer turpis eu vivamus elit consectetuer pede molestie. Mattis dui arcu. Eleifend vestibulum imperdiet morbi interdum integer.</p>
          </div>
          <div class="pin-comments text-left">
            <h1>Comments</h1>
            <hr>

            <form class="resource-comment-form col" method="POST" action="/comments">
              <textarea class="form-control resource-comment col-lg" rows="3" name="resource-comment" placeholder="Comment on this resource."></textarea>
              <input class="col" type="submit" value="Submit">
              <span class="flash-message"></p>
            </form>

            <div class="container comments-list">
              <ul id="commentscontainer" class="list-unstyled row">
                <li class="media row">
                  <img class="d-flex align-self-start mr-3" src="../../images/male-user.jpg" alt="Generic placeholder image">
                    <div class="media-body">
                      <h5 class="mt-0">Tanner Johnson</h5>
                      <p class="commentText">Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.</p>
                      <p>Donec sed odio dui. Nullam quis risus eget urna mollis ornare vel eu leo. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</p>
                      <div class="text-right">
                        <p class="commentTime">Created 10 minutes ago.</p>
                        <hr>
                      </div>
                    </div>
                </li>
                <li class="media row">
                  <img class="d-flex align-self-start mr-3" src="../../images/female-user.jpg" alt="Generic placeholder image">
                    <div class="media-body">
                      <h5 class="mt-0">Julia Molson</h5>
                      <p>Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.</p>
                      <p>Donec sed odio dui. Nullam quis risus eget urna mollis ornare vel eu leo. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</p>
                      <div class="text-right">
                        <p>Created 20 minutes ago.</p>
                        <hr>
                      </div>
                    </div>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </main>
    <% include partials/_footer.ejs %>
  <body>
</html>
