<!-- List of Topics to Browse -->
<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Home Page</title>

    <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
    <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
    <link rel="stylesheet" href="/styles/layout.css" type="text/css" />
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">

    <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
    <script type="text/javascript" src="/scripts/app.js"></script>
  </head>

  <body>
    <% include partials/_header.ejs %>
    <main id="topic">
      <div class="container">
        <div class="card-columns">

          <a href="" id="topicID"><div class="card">
            <div class="pin-image-wrapper">
              <img class="card-img-top" src="../../images/art.jpeg" alt="Art">
              <div class="card-img-overlay">
                <h4 class="card-title">Art</h4>
              </div>
            </div>
          </div>

          <a href="" id="topicID"><div class="card">
            <div class="pin-image-wrapper">
              <img class="card-img-top" src="../../images/literature.jpg" alt="Literature">
              <div class="card-img-overlay">
                <h4 class="card-title">Literature</h4>
              </div>
            </div>
          </div>

          <a href"" id="topicID"><div class="card">
            <div class="pin-image-wrapper">
              <img class="card-img-top" src="../../images/history.jpg" alt="History">
              <div class="card-img-overlay">
                <h4 class="card-title">History</h4>
              </div>
            </div>
          </div></a>

          <a href"" id="topicID"><div class="card">
            <div class="pin-image-wrapper">
              <img class="card-img-top" src="../../images/geography.jpg" alt="Geography">
              <div class="card-img-overlay">
                <h4 class="card-title">Geography</h4>
              </div>
            </div>
          </div></a>

          <a href"" id="topicID"><div class="card">
            <div class="pin-image-wrapper">
              <img class="card-img-top" src="../../images/politics.jpg" alt="Politics">
              <div class="card-img-overlay">
                <h4 class="card-title">Politics</h4>
              </div>
            </div>
          </div></a>

          <a href"" id="topicID"><div class="card">
            <div class="pin-image-wrapper">
              <img class="card-img-top" src="../../images/math.jpg" alt="Math">
              <div class="card-img-overlay">
                <h4 class="card-title">Math</h4>
              </div>
            </div>
          </div></a>

          <a href"" id="topicID"><div class="card">
            <div class="pin-image-wrapper">
              <img class="card-img-top" src="../../images/health.jpg" alt="Health">
              <div class="card-img-overlay">
                <h4 class="card-title">Health</h4>
              </div>
            </div>
          </div></a>

          <a href"" id="topicID"><div class="card">
            <div class="pin-image-wrapper">
              <img class="card-img-top" src="../../images/music.jpeg" alt="Music">
              <div class="card-img-overlay">
                <h4 class="card-title">Music</h4>
              </div>
            </div>
          </div></a>

          <a href"" id="topicID"><div class="card">
            <div class="pin-image-wrapper">
              <img class="card-img-top" src="../../images/science.jpg" alt="Science">
              <div class="card-img-overlay">
                <h4 class="card-title">Science</h4>
              </div>
            </div>
          </div></a>

        </div>
      </div>
    </main>
    <% include partials/_footer.ejs %>
  <body>
</html>
