/*Account settings page styling*/

#account-settings-form {

  width: 100%;

  label {
    margin-right: 5px;
  }
}

.account-settings-header {
  padding-left: 30px;
  padding-bottom: 20px;

  h1 {
    padding-left: 10px;
    padding-top: 10px;
  }
}
