/*Footer Sass*/

@import "_variables";

footer {
  background-color: lighten($primaryColor, 20%);

  ul {
    margin-top: 10px;
  }

  li {
    list-style: none;
  }

}

.copywrite {
  color: $greyText;
  font-size: .6em;
  padding-top: 6px;
}
