
@import "_variables";


#logo {
  width: 100px;
}

#nav-list {
  margin: 10px 10px 10px 0px;
  list-style: none;
  padding-left: 0;

  li {
    margin: 8px;
  }
}

#nav-bar {
  margin-bottom: 20px;
}

.background-header {
  background-color: $primaryColor;
  padding: 0 20px;
  z-index: 999;
}

#register-form,
#login-form {
  margin-right: 100px;
  margin-bottom: 20px;
  padding: 10px 30px;
  background-color: $secondaryColor;
  border: $primaryColor 1px solid;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  border-top: none;

  input {
    margin: 5px;
  }

  h1 {
    color: darken($secondaryColor, 50%);
    font-size: 1.5em;
  }

  p {
    margin-top: 10px;
    margin-bottom: 3px;
    color: $greyText;
    font-size: 0.8em;
  }

  hr {
    margin: 0;
  }

}

#register, #login-form {
  display: none;
}

.discover-button {
  margin: 0 4px;
}
