
@import "_variables";


#logo {
  width: 100px;
}

#nav-list {
  margin: 10px 10px 10px 0px;
  list-style: none;
  padding-left: 0;

  li {
    margin: 8px;
  }
}

#nav-bar {
  margin-bottom: 20px;
}

.background-header {
  background-color: $primaryColor;
  padding: 0 20px;
}

#register-form,
#login-form {
  margin-right: 50px;
  margin-bottom: 20px;
}

#register, #login-form {
  display: none;
}

.discover-button {
  margin: 0 4px;
}
