
@import "_header";
@import "_pins";
@import "_footer";
@import "_topics";

html {
    position: relative;
    min-height: 100%;
}

body {
  background-color: #EEE;
}

main {
  margin-top: 80px;
  margin-bottom: 40px;
}
