
@import "_header";
@import "_pins";
@import "_footer";
@import "_topics";
@import "_resource";
@import "_add-resource";
@import "_account-settings";
@import "_user-page";

html {
    position: relative;
    min-height: 100%;

    button, a {
      cursor: pointer;
    }
}

body {
  background-color: #EEE;
}

main {
  margin-top: 100px;
  margin-bottom: 150px;
}


/*Media Queries*/

@media (max-width: 900px) {
  .card-columns {
    column-count: 2;
  }
}

@media (max-width: 660px) {
  .card-columns {
    column-count: 1;
    text-align: center;
  }
}

@media (max-width: 520px) {

  #user-dropdown-list{

    .user-account-logout {
      margin-right: 65px;
    }
  }
}
