
@import "_header";
@import "_pins";
@import "_footer";
@import "_topics";
@import "_resource";
@import "_add-resource";
@import "_account-settings";

html {
    position: relative;
    min-height: 100%;

    button, a {
      cursor: pointer;
    }
}

body {
  background-color: #EEE;
}

main {
  margin-top: 80px;
  margin-bottom: 40px;
}

